<div ng-controller="logInCtrl">
    <form class="col-md-4 mx-auto">
        <div class="text-center">
            <h1>Đăng nhập</h1>
        </div>
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input ng-model="userName" class="form-control" name="username" id="username" aria-describedby="userHelp" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input ng-model="password" type="password" class="form-control" name="password" id="password" aria-describedby="passHelp" required>
        </div>
        <div class="row">
            <div class="col-md-7">
                <button ng-click="logIn()" type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
            <div class="col-md-5 text-end">
                <a href="#!forgetPass">Quên mật khẩu?</a>
            </div>
        </div>
    </form>
</div>